@import url('https://fonts.googleapis.com/css?family=Orbitron');

body, input {
  font-family: 'Orbitron', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  color: #024F59;
  background-color: #EFF0EB;
}
